<div id="vehicles">
  <h3>Step 2: Make a request</h3>

  <div class="list-group">
    {{#each vehicles}}
      <button type="button" class="btn btn-outline-primary form-control"
      id="vehicle" name="vehicleId" value="{{id}}" href="/">
        {{year}} {{make}} {{model}}
      </button>
    {{/each}}
  </div>

  <form action="/request" method="post">
    <div class="form-group">
      <label class="label" for="vehicle">Select a vehicle:</label>
      <select class="form-control" id="vehicle" name="vehicleId">
        {{#each vehicles}}
        <option value="{{id}}">{{year}} {{make}} {{model}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label class="label" for="request">Select a request type:</label>
      <select class="form-control" id="request" name="requestType">
        <option value="info">Vehicle info</option>
        <option value="location">Location</option>
        <option value="odometer">Odometer</option>
        <option value="lock">Lock doors</option>
        <option value="unlock">Unlock doors</option>
      </select>
    <input type="image" src="https://defenders.org/sites/default/files/styles/large/public/tiger-dirk-freder-isp.jpg"
    alt="Submit"
    class="btn btn-primary"
    />
    <a href="/logout" class="btn btn-link" role="button">Logout</a>
  </form>
</div>
